.body {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 10px;
}
i {
  font-size: larger;
  color: #333533;
}
input {
  border-color: aliceblue;
  text-underline-position: below;
  background-color: whitesmoke;
  opacity: 20%;
}
