.expensesApp {
  width: 80vw;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;
  align-items: center;
  justify-items: flex-start;
  padding: 50px;
  margin-left: auto;
  margin-right: auto;
}
